.card {
    background: white;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em 0;
    width: 100%;
}
.card h3 {
    padding: 0.25em 0.3em;
}
.card article {
    border-bottom: 1px solid black;
    margin: auto;
    padding: 0.5em 0em;
    width: 80%;
}

.card article p {
    margin: 0;
}

.alingBt{
    margin: auto;
    width: 80%;
}

.btCard {
    background: none;
    border: 3px solid;
    color: rgb(11, 109, 236);
    height: 176px;
    padding: 0.5em;
    width: 100%;
}

.btCard i {
    width: 100%;
}

.btCard:hover {
    color: white;
    background: rgb(11, 109, 236);
    transition: all 0.7s;
}

.grid {
    overflow-y: scroll;
    background: rgb(214, 214, 214);
    margin: 0.5em 0em;
    padding: 0.5em;
    height: 600px;
}

.float  {
    margin: 0;
    width: 50%;
    float: left;
}

.item {
    background: white;
    margin: 0.5em 0;
}

@media screen and (min-width: 700px) {
    .card {
        float: left;
        margin: 0.5em 0.5%;
        width: 49%;
    }

    .item article {
        display: flex;
    }
}

@media screen and (min-width: 1000px) {
    .listForm{
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0.5em;
    }

    .card {
        margin: 0.5em 0.5%;
        width: 24%;
    }

    .btCard {
        height: 176.667px;
    }

    .grid {
        height: 450px;
    }
}

@media screen and (min-width: 1200px) {
    .btCard {
        height: 177.6px;
    }
}

@media screen and (min-width: 1500px) {
    .site {
        width: 65%;
    }

    .grid {
        height: 550px;
    }
}