* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-spacing: 0;
    font-family: 'Share Tech', sans-serif;
    outline: none;
    text-decoration: none;
}

object {
    width: 100%;
}

.site {
    margin: auto;
    padding: 0.5em;
    width: 80%;
}

.title {
    align-items: center;
    display: flex;
}

.aling {
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.30);
    overflow: hidden;
    padding: 1em;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.30);
}

.marginAuto {
    margin: auto;   
}

.section {
    overflow: hidden;
    background: rgb(214, 214, 214);
    margin-top: 0.5em;
    padding: 0.5em;
}

nav {
    z-index: 1;
    box-shadow: -1px 6px 22px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -1px 6px 22px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 6px 22px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.75em;
}

@media screen and (min-width: 1400px) {
    .marginAuto {
        width: 75%;
    }
}