<!DOCTYPE html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>visualizar Turmas</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="../../../static/css/estilosPadroes.css">
	<link rel="stylesheet" href="../../../static/css/estilosForms.css">
	<link rel="stylesheet" href="../../../static/css/estiloCard.css">
	<link rel="stylesheet" href="../../../static/css/estilosTabelas.css">
	<link rel="stylesheet" href="../../../static/css/estiloSlides.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script src="../../static/scripts/configs/navsLoad.js"></script>
	<style>
		.site {
			align-items: center;
			display: flex;
			justify-content: center;
		}

		.popup {
			background: rgb(255, 255, 255);
			display: none;
			margin: 0.5em;
			position: absolute;
			width: 50%;
		}

		.popup i {
			font-size: 30px;
		}

		table {
			width: 100%;
		}

		table thead th {
			width: 25%;
		}
	</style>
</head>

<body onload="loadNavProf()">
	<nav></nav>
	<div class="site">

		<div class="aling popup" id="popup">
			<div class="title" style="justify-content: space-between;">
				<h2>Lista de Chamada</h2>
				<i class="fa-solid fa-xmark"></i>
			</div>
			<div class="divTable">
				<table>
					<thead>
						<tr>
							<th>
								<div>ra</div>
							</th>
							<th>
								<div>nome</div>
							</th>
							<th>
								<div>Qtd. Falta</div>
							</th>
							<th>
								<div>Data</div>
							</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
			<div class="alingBt">
				<button class="btForm">Salvar</button>
			</div>
		</div>

		<div class="aling">
			<h2 class="h2"></h2>

			<div class="slide">
				<div class="navigation">
					<label for="r1" class="bar">Realizar Chamadas</label>
					<label for="r2" class="bar">Buscar Chamadas</label>
					<label for="r3" class="bar">Solicitações</label>
				</div>
				<div class="slides">
					<input type="radio" name="r" id="r1">
					<input type="radio" name="r" id="r2">
					<input type="radio" name="r" id="r3">
					<div class="content s1">
						<section class="grid">
							<div class="overflow">

							</div>
						</section>
					</div>
					<div class="content s2">
						<section class="grid">
							<div class="overflow">

							</div>
						</section>
					</div>
					<div class="content s3">
						<section class="grid">
							<div class="overflow">
								
							</div>
						</section>
					</div>
				</div>
			</div>

		</div>
	</div>
	<script src="../../static/scripts/professor/chamadaTurma.js"></script>
</body>