<!DOCTYPE html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Manter Disciplina</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../../static/css/estilosPadroes.css">
    <link rel="stylesheet" href="../../static/css/estilosForms.css">
    <link rel="stylesheet" href="../../static/css/estilosTabelas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="../../static/scripts/configs/tableAdjust.js"></script>
    <script src="../../static/scripts/configs/navsLoad.js"></script>
    <script src="../../static/scripts/crudGenericos.js"></script>
    <script src="../../static/scripts/crudDisciplina.js"></script>
</head>

<body onload="loadNav(), loadTable(), selectAll()">
    <nav></nav>
    <div class="site">
        <div class="aling">
            <h2>Manter Disciplina</h2>
            <div class="crudForm col">
                <div class="campos">
                    <input type="hidden" name="cod">
                    <div class="campo">
                        <label>Nome</label>
                        <input type="text" name="nome">
                    </div>
                    <div class="campo">
                        <label>Quantidade de Aulas</label>
                        <select id="selectQtdAulas" name="qtdAula" class="select">
                            <option value="default">0</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="campo">
                        <label>Semestre</label>
                        <input type="number" name="semestre" min="1" max="10" step="1">
                    </div>
                    <div class="campo">
                        <label>Curso</label>
                        <select id="selectCurso" name="curso" class="select">
                            <option value="default">Selecione o curso</option>
                        </select>
                    </div>
                </div>
                <div class="alingBts">
                    <button type="submit" class="btForm" onclick="insert()">Criar</button>
                    <button type="submit" class="btForm" onclick="update()">Atualizar</button>
                </div>
            </div>
            <div class="col">
                <form class="listForm">
                    <input type="text" name="context"><button><i class="fas fa-search"></i></button>
                </form>
                <div class="divTable">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <div>Cod</div>
                                </th>
                                <th>
                                    <div>Nome</div>
                                </th>
                                <th>
                                    <div>Quantidade de Aulas</div>
                                </th>
                                <th>
                                    <div>Semestre</div>
                                </th>
                                <th>
                                    <div>Curso</div>
                                </th>
                                <th colspan="2">
                                    <div>Ações</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>