<!DOCTYPE html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>editar grade</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../../static/css/estilosPadroes.css">
    <link rel="stylesheet" href="../../static/css/estilosForms.css">
    <link rel="stylesheet" href="../../static/css/estilosTabelas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="../../../static/scripts/configs/tableAdjust.js"></script>
    <script src="../../static/scripts/configs/navsLoad.js"></script>
    <script src="../../static/scripts/secretaria/crudGenericos.js"></script>
</head>

<body onload="loadNav(), loadTable()">
    <nav></nav>
    <div class="site">
        <a href="visualizarGrade.html">
            <button class="btn btn-primary" style="margin-bottom: 0.5em;">
                Voltar
            </button>
        </a>
        <div class="aling">
            <h2>Editar grade</h2>
            <div class="crudForm col">
                <div class="campos">
                    <input type="hidden" name="codTurma">
                </div>
                <div class="alingBts">
                    <button type="submit" class="btForm" onclick="insert()">Nova T.</button>
                    <button type="submit" class="btForm" onclick="update()">Atualizar</button>
                </div>
            </div>
            <div class="col">
                <div class="divTable">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <div>Horario Início</div>
                                </th>
                                <th>
                                    <div>Horaria Fim</div>
                                </th>
                                <th>
                                    <div>Dia da Semana</div>
                                </th>
                                <th>
                                    <div>Disciplina</div>
                                </th>
                                <th>
                                    <div>Qtd. Aula</div>
                                </th>
                                <th>
                                    <div>Professor</div>
                                </th>
                                <th colspan="2">
                                    <div>Ações</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../../static/scripts/secretaria/crudTurma.js"></script>
</body>

</html>