<!DOCTYPE html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Vizualizar Aluno</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../../static/css/estilosPadroes.css">
    <link rel="stylesheet" href="../../static/css/estilosForms.css">
    <link rel="stylesheet" href="../../static/css/estiloSlides.css">
    <link rel="stylesheet" href="../../static/css/estiloCard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="../../static/scripts/configs/navsLoad.js"></script>
    <script src="../../static/scripts/secretaria/crudGenericos.js"></script>
    <script src="../../static/scripts/secretaria/visualizarAluno.js"></script>
</head>

<body onload="loadNav(), selectByRa()">
    <style>
        @media screen and (min-width: 1200px) {
            .cardTitle h3 {
                font-size: 20px;
                align-items: center;
                display: flex;
                height: 80px;
            }

            .s1 section {
                overflow-y: hidden;
            }
        }

        @media screen and (min-width: 1500px) {
            .cartao {
                height: 270px;
            }

            .cardTitle h3 {
                font-size: 26px;
                height: 105px;
            }
        }
    </style>
    <nav></nav>
    <div class="site">
        <div class="aling">
            <h2>Dados do Aluno</h2>
            <div class="slide">
                <div class="navigation">
                    <label for="r1" class="bar">Informações</label>
                    <label for="r2" class="bar">Histórico</label>
                    <label for="r3" class="bar">Ações</label>
                </div>
                <div class="slides">
                    <input type="radio" name="r" id="r1">
                    <input type="radio" name="r" id="r2">
                    <input type="radio" name="r" id="r3">
                    <div class="content s1">
                        <section>
                            <div class="overflow">
                                <div class="perfil">
                                    <div class="fotoDePerfil">
                                        <img
                                            src="https://images.vexels.com/media/users/3/147103/isolated/preview/e9bf9a44d83e00b1535324b0fda6e91a-cone-de-linha-de-perfil-do-instagram.png">
                                    </div>
                                </div>
                                <article id="nomeCurso">

                                </article>
                                <article>
                                    <h3 id="h3">Dados Pessoais</h3>
                                    <div class="line">

                                        <div class="campo">
                                            <label>Nome</label>
                                            <input type="text" name="nome" disabled>
                                        </div>
                                        <div class="campo">
                                            <label>Nome Social</label>
                                            <input type="text" name="nomeSocial" disabled>
                                        </div>
                                        <div class="campo">
                                            <label>CPF</label>
                                            <input type="text" name="cpf" disabled>
                                        </div>
                                        <div class="campo">
                                            <label>Data Nasc.</label>
                                            <input type="date" name="dataNasc" disabled>
                                        </div>
                                        <div class="campo">
                                            <label>Email Pessoal</label>
                                            <input type="text" name="emailPessoal" disabled>
                                        </div>

                                    </div>

                                    <div class="line">

                                        <div class="campo">
                                            <label>Data de Conclusão do 2°</label>
                                            <input type="date" name="dataConc2grau" disabled>
                                        </div>
                                        <div class="campo">
                                            <label>Inst. de Conclusão do 2°</label>
                                            <input type="text" name="instConc2grau" disabled>
                                        </div>
                                        <div class="campo">
                                            <label>Pontuação no vestibular</label>
                                            <input type="number" name="ptVestibular" min="1" max="10" step="1" disabled>
                                        </div>
                                        <div class="campo">
                                            <label>Colocação no Vestibular</label>
                                            <input type="number" name="posVestibular" min="1" max="10" step="1"
                                                disabled>
                                        </div>

                                        <div style="text-align: center;">
                                            <button class="btEdit">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </button>
                                        </div>

                                    </div>

                                </article>

                                <article>
                                    <i class="fa-solid fa-file"></i>
                                </article>

                                <article id="infoFacul">

                                </article>

                            </div>
                        </section>
                    </div>
                    <div class="content s2">
                        <section>
                            <div class="grid">

                                <div class="overflow">
                                </div>

                            </div>
                        </section>
                    </div>
                    <div class="content s3">
                        <section>
                            <article>
                                <h3 style="border-bottom: 1px solid gray;">Trancar Matricula</h3>
                                <div style="padding: 0.75em;">
                                    <p style="margin: 0em;">Trancar matricula do aluno</p>
                                    <button class="btForm">Trancar</button>
                                </div>
                                <h3 style="border-bottom: 1px solid gray;">Gerar Historico</h3>
                                <div style="padding: 0.75em;">
                                    <p style="margin: 0em;">Trancar matricula do aluno</p>
                                    <button class="btForm">Trancar</button>
                                </div>
                                <h3 style="border-bottom: 1px solid gray;">Gerar Historico completo</h3>
                                <div style="padding: 0.75em;">
                                    <p style="margin: 0em;">Trancar matricula do aluno</p>
                                    <button class="btForm">Trancar</button>
                                </div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>